@media screen and (max-width: 975px) {
    .box1{
        width: 80%;
    }

    .sessao1-detalhe{
        width: 30%;
        bottom: 145px;
    }

    .s3-detalhe-link1{
        margin-left: 0;
    }

    .s3-detalhe-link2{
        margin-left: 0;
    }
}

@media screen and (max-width: 885px){
    .box1{
        width: 100%;
    }

    .box1-botoes{
        display: grid;
        justify-content: center;
    }

    .box1-botao1{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .img-box1{
        width: 100%;
    }

    .s3-txt{
        width: 100%;
    }

    .sessao3-detalhe{
        width: 90%;
    }

    .s3-detalhe-link1{
        width: 25%;
        margin-left: -14px;
    }

    .s3-detalhe-link2{
        width: 22%;
    }

    .s3-detalhe-link3{
        width: 13%;
    }

    .sessao3-detalhe-faixa{
        height: 200px;
    }
}

@media screen and (max-width: 820px){
    .sessao3-detalhe-faixa{
        height: 142px;
        margin-top: -180px;
    }
}

@media screen and (max-width: 780px){

    .menu{
        display: none;
    }

    .menu-burguer{
        display: grid;
        position: absolute;
    }
    
    .burguer{
        display: block;
        position: absolute;
        right: 20px;
        top: 40px;
    }

    .botoes-burguer{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
    }

    .botao-hamb{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }

    .detalhe-burguer{
        width: 250px;
        height: 0,5px;
        background: #fff;
        margin-bottom: 15px;
        opacity: 50%;
    }

    .fecha-x{
        position: absolute;
        font-size: 40px;
        text-decoration: none;
        color: #fff;
        right: 30px;
    }

    .sessao1{
        display: block;
        margin-bottom: 530px;
    }

    .box1-img{
        position: absolute;
        margin-top: 25px;
    }

    .sessao1-detalhe{
        bottom: 210px;
        width: 57%;
    }
    
}