@media screen and (max-width: 975px) {
    .box1{
        width: 80%;
    }

    .sessao1-detalhe{
        width: 30%;
        bottom: 145px;
    }

    .s3-detalhe-link1{
        margin-left: 0;
    }

    .s3-detalhe-link2{
        margin-left: 0;
    }
}

@media screen and (max-width: 885px){
    .box1{
        width: 100%;
    }

    .box1-botoes{
        display: grid;
        justify-content: center;
    }

    .box1-botao1{
        margin-bottom: 20px;
        margin-right: 0;
    }

    .img-box1{
        width: 100%;
    }

    .s3-txt{
        width: 100%;
    }

    .sessao3-detalhe{
        width: 90%;
    }

    .s3-detalhe-link1{
        width: 25%;
        margin-left: -14px;
    }

    .s3-detalhe-link2{
        width: 22%;
    }

    .s3-detalhe-link3{
        width: 13%;
    }

    .sessao3-detalhe-faixa{
        height: 200px;
    }
}

@media screen and (max-width: 820px){
    .sessao3-detalhe-faixa{
        height: 142px;
        margin-top: -180px;
    }
}

@media screen and (max-width: 720px){
    
}