.corpo{
    margin-left: 70px;
    margin-right: 70px;
}

.cabecalho{
    width: 100%;
    display: flex;
    margin-top: 30px;
    font-family: Rubik;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.menu{
    position: absolute;
    right: 70px;
    list-style: none;
}

.menu ul{
    display: flex;
    gap: 50px;
}

.botao-menu{
    text-decoration: none;
    color: #636363;
    font-size: 12px;
}

.botao-menu:hover{
    color: rgb(255, 84, 84);
}

.botao-login{
    background: rgb(255, 84, 84);
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 5px -1px rgb(81, 81, 82);
}

.botao-login:hover{
    color: rgb(255, 84, 84);
    border-color: 2px solid rgb(255, 84, 84);
    background: #fff;
    border: 1px solid rgb(255, 84, 84);
}

.sessao1{
    display: flex;
    margin-bottom: 70px;
    position: relative;
}

.box1{
    width: 50%;
    margin: auto;
}

.box1-title{
    font-family: Rubik;
    font-size: 35px;
    font-weight: 500;
    max-width: 63%;
}

.box1-txt{
    font-family: Rubik;
    font-size: 15px;
    color: #a3a1a1;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 78%;
}

.box1-botao1{
    font-family: Rubik;
    padding: 14px 25px;
    border-radius: 5px;
    background: rgb(60, 60, 214);
    color: #fff;
    border: 1px solid transparent;
    margin-right: 15px;
    box-shadow: 0px 2px 5px -1px rgb(81, 81, 82);
}

.box1-botao1:hover{
    background: #fff;
    border: 1px solid rgb(60, 60, 214);
    color: rgb(60, 60, 214);
}

.box1-botao2{
    padding: 14px 25px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #faf2f2;
    box-shadow: 0px 4px 7px 0px rgb(173, 173, 241);
}

.box1-botao2:hover{
    background: #fff;
    border: 1px solid rgb(8, 8, 8);
    color: rgb(8, 8, 8);
    box-shadow: none;
    box-shadow: 0px 2px 5px -1px rgb(81, 81, 82);
}

.box1-img{
    z-index: 100;
    text-align: right;
}

.img-box1{
    width: 90%;
    margin-right: 0;
}

.sessao1-detalhe{
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 40%;
    height: 270px;
    background-color: rgb(60, 60, 214);
    border-radius: 0 0 0 150px;
}

.sessao2{
    text-align: center;
}

.box2-title{
    font-family: Rubik;
    font-weight: 500;
    font-size: 25px;
}

.box2-txt{
    font-family: Rubik;
    color: #a3a1a1;
    max-width: 43%;
    margin: 0 auto;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.s3-txt{
    width: 50%;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    margin-bottom: 70px;
}

.s3-txt-link{
    text-decoration: none;
    color: #636363;
}

.s3-txt-link:hover{
    color: rgb(255, 84, 84);
}

.s3-detalhe-txt{
    width: 50px;
    height: 2px;
    background: rgb(255, 84, 84);
    
}

.sessao3-detalhe{
    width: 50%;
    margin: 0 auto;
    height: 1px;
    background: #a3a1a1;
    margin-top: -45px;
    margin-bottom: 70px;
}

.s3-detalhe-link1{
    position: absolute;
    width: 17%;
    height: 4px;
    background: rgb(255, 84, 84);
    margin-top: -3px;
}

.s3-detalhe-link2{
    display: none;
    position: absolute;
    width: 11%;
    height: 4px;
    background: rgb(255, 84, 84);
    margin-top: -3px;
    margin-left: 240px;
}

.s3-detalhe-link3{
    display: none;
    position: absolute;
    width: 11%;
    height: 4px;
    background: rgb(255, 84, 84);
    margin-top: -3px;
    margin-left: 422px;
}

.sessao3-box1{
    display: flex;
}

.sessao3-box2{
    display: flex;
    display: none;
}

.sessao3-box3{
    display: flex;
    display: none;
}

.s3-img{
    z-index: 100;
}

.sessao3-img{
    width: 80%;
}

.sessao3-txt1{
    width: 50%;
    margin: auto;
}

.sessao3-title{
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
}

.sessao3-txt{
    font-family: Rubik;
    color: #a3a1a1;
    max-width: 65%;
    line-height: 23px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sessao3-btn{
    padding: 8px 15px;
    border-radius: 5px;
    background: rgb(60, 60, 214);
    color: #fff;
    box-shadow: 0px 2px 5px -1px rgb(81, 81, 82);
    border: 1px solid transparent;
}

.sessao3-btn:hover{
    background: #fff;
    border: 1px solid rgb(8, 8, 8);
    color: rgb(8, 8, 8);
    box-shadow: none;
    box-shadow: 0px 2px 5px -1px rgb(81, 81, 82);
}

.sessao3-detalhe-faixa{
    width: 33%;
    position: absolute;
    height: 220px;
    background: rgb(60, 60, 214);
    left: 0;
    margin-top: -155px;
    border-radius: 0 0 155px 0;
}

.sessao-navegadores{
    margin-top: 100px;
}

.sessao4-box{
    text-align: center;
}

.sessao4-title{
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sessao4-txt{
    font-family: Rubik;
    color: #a3a1a1;
    line-height: 23px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0 auto;
    max-width: 400px;
}

.navegadores{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 100px;
    margin-top: 65px;
}

.box-navegadores{
    padding: 25px 25px 21px 25px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 1px 6px -2px rgb(173, 173, 241);
    border: 1px solid transparent;
}

.box-firefox{
    margin-top: 40px;
}

.box-opera{
    margin-top: 80px;
}

.nave-title{
    font-family: 'Rubik';
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 500;
}

.nave-sub-title{
    font-family: 'Rubik';
    font-size: 12px;
    color: #a3a1a1;
}

.nave-btn{
    margin-top: 40px;
    padding: 10px 20px;
    font-family: Rubik;
    font-family: Rubik;
    font-size: 11px;
    font-weight: 500;
    background: rgb(60, 60, 214);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.nave-btn:hover{
    background: #fff;
    color: rgb(60, 60, 214);
    border: 1px solid rgb(60, 60, 214);
}

.sessao-perguntas{
    display: block;
    margin: 0 auto;
    max-width: 410px;
}

.perg-seta{
    display: flex;
}

.seta{
    margin-left: auto;
    height: 10px;
}

.perg-txt{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.perg-title{
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;
}

.perg-sub-title{
    font-family: 'Rubik';
    font-size: 12px;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
    color: #a3a1a1;
}

.pergunta{
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 500;
}

.pergunta:hover{
    color: rgb(255, 84, 84);
}

.resposta{
    font-family: 'Rubik';
    font-size: 13px;
    line-height: 25px;
    margin-top: 25px;
    color: #a3a1a1;
}

.resposta{
    display: none;
}

.perg-btn{
    text-align: center;
    margin-top: 30px;
}

.btn-perg{
    padding: 7px 20px;
    background: rgb(60, 60, 214);
    font-family: Rubik;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-perg:hover{
    background: #fff;
    border: 1px solid rgb(60, 60, 214);
    color: rgb(60, 60, 214);
}

.sessao-contato{
    text-align: center;
    font-family: Rubik;
    background: rgb(60, 60, 214);
    margin-top: 70px;

}

.info1{
    padding-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: 30px;
}

.info2{
    font-family: Rubik;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
    font-size: 23px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#txtstart{
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 220px;
    margin-right: 8px;
}

.box-email{
    border: 1px solid rgb(255, 84, 84);
    width: 239px;
    margin-right: 10px;

}

.email-error{
    position: absolute;
    margin-left: 92px;
    margin-top: -27px;
    display: none;
}

.msg-error{
    color: #fff;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 8px;
    background: rgb(255, 84, 84);
    display: none;
}

.btn-contato{
    padding: 8px 18px;
    border: 1px solid transparent;
    border-radius: 3px;
    background: rgb(255, 84, 84);
    color: #fff;
    margin-bottom: 65px;
}

.btn-contato:hover{
    background: #fff;
    border-color: rgb(255, 84, 84);
    color: rgb(255, 84, 84);
}
